* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}
