//COLORS
$black: #000000;
$white: #ffffff;
$section-background: #f7f7f7;
$smaller-header-color: #aeaeae;
$logo-color: #b88b58;
$border-line-color: #aeaeae;
$project-menu-background: #ededed;

//COLORS BUTTONS
$call-hover-color: #33cc00;
$btn-hover-background: #cc6633;

$border-line: 1px solid $border-line-color;
$transition: all 0.3s ease-in-out;
