.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;

  @include respond-to("medium") {
    display: initial;
  }
  .hamburger-box {
    cursor: pointer;
  }
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: $white;
  margin: 6px 0;
  transition: all 0.1s ease-in-out;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
