.map {
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 420px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include respond-to("small") {
    justify-content: center;
  }

  .address-box {
    .address-content {
      background-color: $white;
      max-width: 540px;
      height: 343px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 40px 0 0;

      @include respond-to("small") {
        margin: 0 10px;
      }

      .address-line {
        display: flex;
        align-items: center;
        margin: 0 10px 0 40px;

        @include respond-to("extra-small") {
          margin: 0 10px;
        }

        .address-icon {
          min-width: 35px;
          min-height: 35px;
          background-color: #bebebe;
          border-radius: 50%;
          margin: 2px;
          transition: $transition;

          &:hover {
            background-color: $logo-color;
            cursor: pointer;
          }

          .fa {
            width: 14px;
            height: 14px;
            color: $white;
            padding: 10px;
          }
        }

        .address-text {
          color: #7e7e7e;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-transform: capitalize;
          margin-left: 20px;
        }
      }
    }
  }
}
