.premium {
  position: relative;

  .premium-box {
    display: flex;
    flex-direction: column;

    .premium-content {
      display: flex;
      padding-bottom: 15px;
      border-bottom: $border-line;

      @include respond-to("small") {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .premium-picture {
        .premium-image {
          @include respond-to("small") {
            width: 100%;
          }
        }
      }

      .premium-content-text {
        max-width: 500px;

        @include respond-to("small") {
          margin-top: 20px;
        }

        .premium-text-line {
          display: flex;

          @include respond-to("small") {
            flex-direction: column;
            align-items: center;
          }

          .icon-ok {
            width: 34px;
            height: 30px;
          }

          .premium-text-right {
            padding-left: 30px;
            margin-bottom: 26px;

            @include respond-to("small") {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0;
            }

            .premium-text-right-header {
              margin: 0 0 14px;
              font-size: 21px;
              font-weight: 800;
              line-height: 21px;
              text-transform: uppercase;

              @include respond-to("small") {
                margin-top: 15px;
                text-align: center;
              }
            }

            .premium-text-right-paragraph {
              margin-top: 0;
              font-size: 14px;
              font-weight: 300;
              color: #5b5b5b;

              @include respond-to("small") {
                text-align: center;
                max-width: 500px;
                margin: 0 20px 14px;
              }
            }

            .premium-text-right-feature {
              font-size: 14px;
              font-weight: 300;
              color: #5b5b5b;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .paginator-premium {
      bottom: 145px;
    }

    .btn-premium {
      margin: 90px auto 60px;
    }
  }
}
