.facts {
  background-color: $black;
  .facts-box {
    .facts-content {
      margin-top: 5px;
      @include respond-to("small") {
        padding-bottom: 22px;
      }
      .facts-element {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 68px;
        padding: 10px 45px;

        @include respond-to("small") {
          margin-bottom: 18px;
        }
        .facts-element-header-price {
          font-size: 48px;
          font-weight: 700;
          line-height: 28px;
          color: $logo-color;
          margin: 0 0 15px;
        }
        .facts-semicolon {
          background-color: grey;
          width: 20px;
          height: 3px;
        }
        .facts-element-header {
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          color: $white;
          margin: 10px 0;
          text-align: center;
        }
        .facts-element-paragraph {
          font-size: 12px;
          font-weight: 300;
          line-height: 21px;
          color: #7e7e7e;
          text-align: center;
        }
      }
    }
  }
}
